@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

body{
    margin:0;
    padding:0;
    box-sizing: border-box;
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: darkgray;
}
.textarea{
    height:30vh;
    width:90%;
    margin-top:5vh;
    font-size:18px;
    resize:none;
    border-radius:10px;
    padding-top: 10px;
    padding-left:10px;
    outline: none;
    font-family: 'Roboto Mono', monospace;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}
h2{
    font-family: 'Roboto Mono';
    color:white;
    text-shadow:1px 1px black;
    font-size:18px;
    max-width:70vw;
}
.mainNote{
    color: whitesmoke;
    font-size:20px;
    text-align: center;
}
.info{
    min-height:50vh;
    width:80vw;
    border-radius:5px;
    background-color:darkslategray;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
    font-weight: bold;
    font-family: 'Roboto Mono';
    font-size:17px;
    color:rgb(240, 239, 239);
    text-shadow:1px 1px black;
    position:absolute;
    margin-top:25vh;
    display:none;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.close-button{
    margin-top: 30px;
    font-family: 'Roboto Mono';
    padding:5px 20px;
    font-size:14px;
    font-weight: 600;
}
.close-button:hover{
    color:crimson;
    transition: .3s;
}
.info-button{
    font-family: 'Roboto Mono';
    margin-top:40px;
    padding:5px 20px;
    font-size:16px;
    border-radius:5px;
    cursor:pointer;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}
.keyboard{
    display:flex;
    flex-wrap: wrap;
    justify-self: center;
    width:70vw;
    border-radius:1vw;
    margin-top:5vh;
    background-color: rgb(40 39 39);
    padding: 2.5vw 2vw 2.5vw 2vw;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.key{
    width: calc(70vw / 15);
    height:calc(70vw / 25);
    margin:.03vw;
    border-radius:5px;
    border-color:black;
    font-weight: bold;
    font-size:1.1vw;
    background-color:#3A424E;
    color:white;
    font-family: 'Roboto Mono', monospace;
    display:flex;
    align-items: center;
    justify-content: center;
    outline-style: none;
}
.key:hover{
    cursor: pointer;
    background-color: gray;
    color:black;
    transition:.5s;
}
.key:hover,.key:nth-child(1):hover,.key:nth-child(14):hover,.key:nth-child(15):hover,.key:nth-child(43):hover,.key:nth-child(56):hover{
    background-color:darkgray;
    color:black;
    transition: .5s;
}
.key:nth-child(14),:nth-child(29){
    width: calc(1.5 * (70vw / 15));
    background-color: #1C232E;
    color:darkgray;
}
.key:nth-child(43){
    width: calc(2.5 * (70vw / 15));
    background-color: #1C232E;
    color:darkgray;
}
.key:nth-child(56),:nth-child(61){
    width: calc(1.28 * (70vw / 15));
    background-color: #1C232E;
    color:darkgray;
}
.key:nth-child(15){
    width: calc(1.5 * (70vw / 15));
    background-color: #1C232E;
    color:darkgray;
}
.key:nth-child(28),:nth-child(42),:nth-child(57),:nth-child(58),:nth-child(60),:nth-child(55),:nth-child(54),:nth-child(62),:nth-child(63),:nth-child(64){
    background-color: #1C232E;
    color:darkgray;
}
.key:nth-child(59){
    width: calc(6 * (70vw / 15));
    color:darkgray;
}

@media only screen and (max-width: 768px){
    .key{
        border-radius: 0;
        border-width: 0.1px;
    }
    .textarea{
        height:15vh;
    }
    /* .h1{
        font-size:1em;
    }
    .h2{
        font-size:.8em;
    } */
}
